<html>
<head>
  <title>Random Beyonce </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

</head>
<body>
  
  <div class = 'container'>
    <div class = 'header'><h1>Beyonce Rocks!</h1>

    </div>  
    
    <div class = 'navcontainer'>
      <div class = 'navbar'><a href="/">Home</a></div><div class = 'navbar'><a href="/sets">Sets</a></div><div class = 'navbar'><a href="/sets/new">Add a Set</a></div>
    </div>
    <div>
      <h3><%= @show[:name]%></h3>
      <p><%= @show[:vidnum].join(", ")%></p>
      <p><%= @show[:description]%></p>
      <form action="/sets/<%= @show[:name]%>/edit" method="get">
      <input type='submit' name='submit' value='Edit'>
      </form>
      <form action="/sets/<%= @show[:name]%>/play" method="get">
      <input type='submit' name='submit' value='Play'>
    </form>
    	<form action="/sets/<%= @show[:name]%>" method="post">
    	<input type='hidden' name='_method' value='delete'>
      <input type='submit' name='submit' value='Delete'>
    </form>
    </div>
  </div>
  
</body>
</html>